.about-me-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
}

.about-me-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.contact-me-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 20px;
}

.about-me-content img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.about-me-content figure {
  margin-right: 20px;
}

.about-me-container .about-me-text {
  width: 80%;
}

.about-me-container .about-me-links {
  font-size: 1.25rem;
}

/* Form Styles */
#contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#contact-form input,
#contact-form textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#contact-form button {
  margin-top: 10px;
}

/* responsive */

@media (max-width: 1024px) {
  .about-me-container {
    width: 70vw;
  }
}

@media (max-width: 768px) {
  .about-me-content {
    flex-direction: column;
    align-items: center;
  }

  .about-me-content figure {
    margin-bottom: 20px;
    margin-right: 0;
  }

  .about-me-content .about-me-text {
    max-width: 100%;
    text-align: center;
    margin-right: 0;
  }

  .about-me-container .about-me-links {
    font-size: 1rem;
  }
}
