/* Global Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 12px;
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  color: white;
  /* background-color: #f4f4f4; */
  background-image: url("../assets/images/background.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

nav button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

#menu-toggle {
  display: none;
}

#nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

hr {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin-top: 10px;
  margin-bottom: 20px;
}

.container {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 70vw;
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
  /* firefox scrollbar */
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 140, 0, 0.7) rgba(0, 0, 0, 0.2);
}

.container > * {
  margin: 10px;
}

/* Minimalistic Scrollbar for the container */
.container::-webkit-scrollbar {
  width: 8px;
}

.container::-webkit-scrollbar-thumb {
  background-color: rgba(255, 140, 0, 0.7);
  border-radius: 4px;
}

.container::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.2);
}

.button-div a {
  padding: 15px;
  margin: 15px;
}

.card-text {
  max-width: 100%;
  font-size: 1.25rem;
}

/* style for buttons */
.link-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  background-color: #ff8c00;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

/* hover effect for buttons */
.link-button:hover {
  background-color: #ff6f00;
}

/* Nav Bar Styles */
nav {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

/* Footer Styles */
.end-footer {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
}

.footer-section {
  text-align: center;
}

.footer-bottom {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  color: white;
  text-align: center;
  padding: 0.5rem;
}

.end-footer a,
.end-footer a:visited,
.end-footer a:link {
  text-decoration: none;
  color: #0060df;
}

.end-footer a:hover,
.end-footer a:active {
  text-decoration: underline;
}

/* responsive container */
@media (max-width: 1024px) {
  .container {
    max-width: 90vw;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 1rem;
  }

  .container {
    padding: 15px;
  }
}

/* for responsive nav bar */
@media (max-width: 768px) {
  #menu-toggle {
    display: block;
  }
  #nav-links {
    display: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
  }
  #nav-links.show {
    display: flex;
    width: 100%;
  }

  #nav-links a {
    background-color: transparent;
  }
}
