/* Global Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* remove padding and border from width to prevent whitespace*/
}

html {
  font-size: 12px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  color: white;
  /* background-color: #f4f4f4; */
  background-image: url(https://wallpapercave.com/wp/wp4289147.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.container {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container > * {
  margin: 10px;
}

.button-div a {
  padding: 15px;
  margin: 15px;
}

/* style for buttons */
.link-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  background-color: #ff8c00;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

/* hover effect for buttons */
.link-button:hover {
  background-color: #ff6f00;
}

/* Nav Bar Styles */
nav {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
